h3 {
    color: #666666;
}

.back {
    font-size: 30px;
    margin-top: 18px;
}

.action-row
{
    margin-bottom: 5px;
}

.action-row span,
.data-row span{
    line-height: 35px;
}

ui-switch{
    margin-top: 25px;
}