<div *ngIf="loading">
  <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="50" [diameter]="20"></mat-progress-spinner>
</div>
<div *ngIf="!loading">
  <div fxLayout="column" *ngIf="extension">
    <div fxLayout="row">
      <button class="back" mat-icon-button [routerLink]="['/home']">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div fxLayout="column" fxFlex>
        <h1>{{extension.name}}</h1>
        <h3>{{extension.description}}</h3>
      </div>
      <ui-switch [(ngModel)]="extension.active"></ui-switch>
    </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Data
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let data of extension.viewDataParameters">
        <div class="data-row" fxLayout="row">
          <span>{{data.description}}:</span>
          <span>{{data.value}}</span>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Setup
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form fxLayout="column" (ngSubmit)="saveSetupParameters()">
        <div *ngFor="let setupParameter of extension.setupParameters">
          <div fxLayout="column">
            <span>{{setupParameter.description}}</span>
            <mat-form-field class="full-width">
              <input matInput name="setupParameter" [(ngModel)]="setupParameter.value" />
            </mat-form-field>
          </div>
        </div>
        <button mat-button color="primary" type="submit" class="pull-right">SAVE</button>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Actions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let action of extension.actions">
        <div class="action-row" fxLayout="row">
          <span fxFlex>{{action.description}}</span>
          <button mat-raised-button color="primary" class="pull-right">EXECUTE</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>