<h1>My Smart Account</h1>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <app-eth-balance></app-eth-balance>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-transfer-eth></app-transfer-eth>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Token balance
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-token-list>
      
    </app-token-list>
  </mat-expansion-panel>
</mat-accordion>
<app-extension-list></app-extension-list>
