<mat-expansion-panel [disabled]="disabled" [hideToggle]="disabled" [expanded]="expanded">
    <mat-expansion-panel-header>
        <mat-panel-title>{{title}}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
        <mat-list-item *ngFor="let parameter of parameters; index as i" [attr.data-index]="i">
            <app-extension-parameter 
                [smartAccountAddress]="smartAccountAddress" 
                [index]="index"
                [parameter]="parameter"
                [setValue]="values[index]">
            </app-extension-parameter>
        </mat-list-item>
        <div fxLayout="row" *ngIf="functionSignature">
            <button fxFlex="100" color="primary" class="mat-raised-button mat-primary" (click)="execute()">{{actionButtonName}}</button>
        </div>
    </mat-list>
</mat-expansion-panel>