<mat-expansion-panel [disabled]="disabled" [hideToggle]="disabled" [expanded]="expanded">
    <mat-expansion-panel-header>
        <mat-panel-title>{{title}}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
        <div *ngFor="let param of parameters; let i = index" [attr.data-index]="i">
            <app-extension-parameter 
                [smartAccountAddress]="smartAccountAddress" 
                [index]="i"
                [parameter]="param"
                [setValue]="initialValues[i]"
                [forceEditable]="forceAllEditable"
                (parameterSet)="parameterSet($event)">
            </app-extension-parameter>
        </div>
        <div fxLayout="row" *ngIf="!!functionSignature" fxLayoutGap="10px">
            <button class="mat-raised-button" fxFlex="50" *ngIf="!!backButtonName" mat-button (click)="back()" [disabled]="executing">{{backButtonName}}</button>
            <button color="primary" fxFlex="!!backButtonName ? 50 : 100" class="mat-raised-button mat-primary" mat-button (click)="execute()" [disabled]="executing">{{actionButtonName}}</button>
        </div>
    </mat-list>
</mat-expansion-panel>