<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Extensions</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list *ngIf="showList">
        <mat-list-item *ngFor="let extension of allExtensions" (click)="extensionDetails(extension.address)" >
            <mat-label fxFlex="72">{{getName(extension.address)}}</mat-label>
            <mat-label fxFlex="25" class="bold active" *ngIf="isActive(extension.address)">ACTIVE</mat-label>
            <mat-label fxFlex="25" class="bold inactive" *ngIf="!isActive(extension.address)">INACTIVE</mat-label>
            <mat-label class="pull-right"><mat-icon>chevron_right</mat-icon></mat-label>
        </mat-list-item>
        <div fxLayout="row">
            <button fxFlex="100" color="primary" class="mat-raised-button mat-primary" (click)="setNewExtension()">ADD NEW EXTENSION</button>
        </div>
    </mat-list>
    <div *ngIf="showIdentifiers">
        <div fxLayout="column">
            <div fxLayout="row">
                <mat-label fxFlex="75">{{getName(selectedExtension.address)}}</mat-label>
                <ui-switch fxFlex="25" [(ngModel)]="selectedActive" (change)="onChangeActiveStatus($event)"></ui-switch>
            </div>
            <mat-list fxFlex="100">
                <mat-list-item *ngFor="let identifier of selectedExtension.identifiers" (click)="goToIdentifier(identifier.identifier)" >
                    <mat-label fxFlex="90">{{identifier.name}}</mat-label>
                    <mat-label class="pull-right"><mat-icon>chevron_right</mat-icon></mat-label>
                </mat-list-item>
            </mat-list>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <button class="mat-raised-button" fxFlex="50" mat-button (click)="back()">BACK</button>
            <button color="primary" fxFlex="50" class="mat-raised-button mat-primary" mat-button (click)="setNewConfiguration()">NEW INSTANCE</button>
        </div>
    </div>
    <mat-list *ngIf="showNew">
        <mat-label>ADD CUSTOM EXTENSION</mat-label>
        <mat-list fxFlex="100">
            <app-extension-parameter 
                [smartAccountAddress]="smartAccountAddress" 
                [index]="getIndex()"
                [parameter]="getExtensionAddressParameter()"
                (parameterSet)="setExtensionAddress($event)">
            </app-extension-parameter>
        </mat-list>
        <div fxLayout="row" fxLayoutGap="10px">
            <button class="mat-raised-button" fxFlex="50" mat-button (click)="back()">CANCEL</button>
            <button color="primary" fxFlex="50" class="mat-raised-button mat-primary" mat-button (click)="loadCustomExtension()">LOAD</button>
        </div>
    </mat-list>
</mat-expansion-panel>