<app-header [backDestination]="getBackDestination()"></app-header>
<div fxLayout="row">
    <h2>{{smartAccount.name}} 
      <div class="address-container">
        <a class="address" href="{{getAddressLink()}}" target="_blank">{{smartAccount.address}}</a>
      </div>
    </h2>
</div>
<mat-accordion>
  <app-eth-balance [smartAccountAddress]="smartAccount.address" [ethBalance]="smartAccount.balance"></app-eth-balance>
  <app-token-list [smartAccountAddress]="smartAccount.address" [tokenBalanceList]="smartAccount.tokens"></app-token-list>
  <app-extension-list [smartAccountAddress]="smartAccount.address" [extensionList]="smartAccount.extensions"></app-extension-list>
</mat-accordion>