.address{
    word-wrap: break-word;
    text-decoration: none !important;
    font-size: 14px;
    color: darkslategray;
}

.address-container{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logoff{
    position: absolute;
    right: 13px;
    top: 36px;
    color: DARKSLATEGRAY;
    background-color: transparent;
    border: none;
}