<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Tokens&nbsp;&nbsp;&nbsp;<small>ERC20</small></mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list *ngIf="showList">
        <mat-list-item *ngFor="let tokenBalanceItem of tokenBalanceList" >
            <span fxFlex="55"><span class="balance">{{tokenBalanceItem.balance}}</span>&nbsp;<strong>{{tokenBalanceItem.symbol}}</strong></span>
            <div fxLayout="row" fxFlex="45" fxLayoutGap="5px">
                <button fxFlex="100" class="mat-raised-button transfer-btn" mat-button (click)="setTransferToken(tokenBalanceItem.address)">TRANSFER</button>
                <mat-icon class="pull-right" (click)="removeToken($event, tokenBalanceItem.symbol, tokenBalanceItem.address)">clear</mat-icon>
            </div>
        </mat-list-item>
        <div fxLayout="row">
            <button fxFlex="100" color="primary" class="mat-raised-button mat-primary" mat-button (click)="setNewToken()">ADD NEW TOKEN</button>
        </div>
    </mat-list>
    <div *ngIf="showTransfer">
        <span>Transfer <strong>{{selectedToken.symbol}}</strong></span>
        <div fxLayout="column" fxFlex="100">
            <mat-list>
                <app-extension-parameter 
                    [smartAccountAddress]="smartAccountAddress" 
                    [index]="getRecipientIndex()"
                    [parameter]="getRecipientParameter()"
                    (parameterSet)="setRecipientAddress($event)">
                </app-extension-parameter>
                <app-extension-parameter 
                    [smartAccountAddress]="smartAccountAddress" 
                    [index]="getAmountIndex()"
                    [parameter]="amountParameter"
                    (parameterSet)="setAmount($event)">
                </app-extension-parameter>
                <div fxLayout="row" fxLayoutGap="10px">
                    <button class="mat-raised-button" fxFlex="50" mat-button (click)="cancel()" [disabled]="executing">CANCEL</button>
                    <button color="primary" fxFlex="50" class="mat-raised-button mat-primary" mat-button [promiseBtn]="promise" (click)="transferToken()">TRANSFER</button>
                </div>
            </mat-list>
        </div>
    </div>
    <div *ngIf="showAdd">
        <span>ADD NEW TOKEN</span>
        <div fxLayout="column" fxFlex="100">
            <mat-list>
                <app-extension-parameter 
                    [smartAccountAddress]="smartAccountAddress" 
                    [index]="getContractAddressIndex()"
                    [parameter]="getContractAddressParameter()"
                    (parameterSet)="setContractAddress($event)">
                </app-extension-parameter>
                <app-extension-parameter 
                    [smartAccountAddress]="smartAccountAddress" 
                    [index]="getSymbolIndex()"
                    [parameter]="getSymbolParameter()"
                    (parameterSet)="setSymbol($event)">
                </app-extension-parameter>
                <app-extension-parameter 
                    [smartAccountAddress]="smartAccountAddress" 
                    [index]="getDecimalsIndex()"
                    [parameter]="getDecimalsParameter()"
                    (parameterSet)="setDecimals($event)">
                </app-extension-parameter>
                <div fxLayout="row" fxLayoutGap="10px">
                    <button class="mat-raised-button" fxFlex="50" mat-button (click)="cancel()" [disabled]="executing">CANCEL</button>
                    <button color="primary" fxFlex="50" class="mat-raised-button mat-primary" mat-button [promiseBtn]="promise" (click)="addToken()">ADD TOKEN</button>
                </div>
            </mat-list>
        </div>
    </div>
</mat-expansion-panel>

