<mat-form-field class="full-width" *ngIf="showCheckbox()">
    <mat-checkbox [(ngModel)]="value" (change)="onCheck()" [disabled]="isDisabled()">{{description}}</mat-checkbox>
    <mat-icon matSuffix *ngIf="canRemoveArray()" (click)="removeElement()">clear</mat-icon>
</mat-form-field>
<mat-form-field class="full-width" *ngIf="showDatepicker()">
    <input matInput [matDatepicker]="picker" 
        [disabled]="isDisabled()" 
        [placeholder]="description"
        [pattern]="getPattern()"
        [formControl]="getFormCtrl()"
        (blur)="onBlur()"
        [(ngModel)]="value">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-icon matSuffix *ngIf="canRemoveArray()" (click)="removeElement()">clear</mat-icon>
</mat-form-field>
<mat-form-field class="full-width" *ngIf="showNumber()">
    <input matInput [disabled]="isDisabled()" 
        [placeholder]="description" 
        [(ngModel)]="value"
        [pattern]="getPattern()"
        [formControl]="getFormCtrl()"
        (blur)="onBlur()"
        type="number"
        step="1"
        min="0" />
    <mat-icon matSuffix *ngIf="canRemoveArray()" (click)="removeElement()">clear</mat-icon>
</mat-form-field>
<mat-form-field class="full-width" *ngIf="!showDatepicker() && !showCheckbox() && !showNumber()">
    <input matInput [disabled]="isDisabled()" 
        [placeholder]="description" 
        [(ngModel)]="value"
        [pattern]="getPattern()"
        [formControl]="getFormCtrl()"
        (blur)="onBlur()"
        type="text" />
    <mat-icon matSuffix *ngIf="canRemoveArray()" (click)="removeElement()">clear</mat-icon>
</mat-form-field>