.active {
    color: #8BC34A;
    margin-right: 10px;
}

.inactive {
    color: #F44336;
    margin-right: 10px;
}

.bold {
    font-weight: 700;
}

.button {
    cursor: pointer;
}

/deep/ mat-list-item-content {
    width: 100%;
}

span {
    line-height: 40px;
}

mat-icon{
    margin-top: 7px;
}