<app-header [backDestination]="getBackDestination()"></app-header>
<div fxLayout="column">
  <h2 fxFlex="100">Set new instance</h2>
  <div fxLayout="column">
        <app-extension-parameter-group
            [title]="getTitle()"
            [actionButtonName]="getActionButtonName()"
            [functionSignature]="getFunctionSignature()"
            [smartAccountAddress]="smartAccountAddress"
            [extensionAddress]="extensionAddress"
            [disabled]="true"
            [expanded]="true"
            [forceAllEditable]="true"
            [parameters]="getParameters()"
            [initialValues]="getValues()"
            (executed)="executed()">
        </app-extension-parameter-group>
  </div>
</div>
