<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
        <div class="eth-balance">
          <div fxLayout="row">
            <span class="balance">{{ethBalance}}</span>&nbsp;<span class="coin">ETH</span>
          </div>
        </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <app-extension-parameter 
        [smartAccountAddress]="smartAccountAddress" 
        [index]="getRecipientIndex()"
        [parameter]="getRecipientParameter()"
        (parameterSet)="setRecipientAddress($event)">
    </app-extension-parameter>
    <app-extension-parameter 
        [smartAccountAddress]="smartAccountAddress" 
        [index]="getAmountIndex()"
        [parameter]="getAmountParameter()"
        (parameterSet)="setAmount($event)">
    </app-extension-parameter>
    <div fxLayout="row">
      <button color="primary" class="mat-raised-button mat-primary" mat-button [promiseBtn]="promise" (click)="transferEth()">SEND</button>
    </div>
  </mat-list>
</mat-expansion-panel>

