<div fxLayout="column">
  <mat-form-field class="full-width">
    <input matInput placeholder="Recipient Address" [(ngModel)]="transferVariables.toAddress" [ngModelOptions]="{standalone: true}"
    />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Amount" type="number" [(ngModel)]="transferVariables.amount" [ngModelOptions]="{standalone: true}"
    />
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutGap="10px">
  <button class="mat-raised-button" fxFlex="50" mat-button (click)="cancel()">CANCEL</button>
  <button color="primary" fxFlex="50" class="mat-raised-button mat-primary send-button" mat-button (click)="transferToken()">SEND</button>
</div>