<div fxLayout="column">
    <div fxFlex="100" fxLayout="row" class="array" *ngIf="isArray()">
        <mat-label fxFlex="100" *ngIf="isArray()" [class]="parameter.isEditable ? 'label-normal' : 'label-disabled'">{{getDescription()}}</mat-label>
        <mat-icon class="pull-right" *ngIf="parameter.isEditable" (click)="addNewElement()">add_circle_outline</mat-icon>
    </div>
    <mat-list-item *ngFor="let element of elements" >
        <app-extension-parameter-element
            fxFlex="100"
            [smartAccountAddress]="element.smartAccountAddress"
            [identifier]="element.identifier"
            [id]="element.id"
            [parameter]="element.parameter"
            [setValue]="element.setValue"
            [description]="element.description"
            [forceEditable]="forceEditable"
            (parameterSet)="getElementSet($event)"
            (removed)="getRemoved($event)">
        </app-extension-parameter-element>
    </mat-list-item>
</div>