<app-header [backDestination]="getBackDestination()"></app-header>
<div fxLayout="column">
  <h2 fxFlex="100">{{name}}</h2>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Descripton</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <mat-label fxFlex="100">{{description}}</mat-label>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <div fxLayout="column" *ngIf="!active">
    <mat-expansion-panel [disabled]="true" [hideToggle]="true" [expanded]="true">
      <mat-expansion-panel-header>
          <mat-panel-title>Required Permissions</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let role of roles">
          <span class="pull-left"><mat-icon>chevron_right</mat-icon></span>
          <mat-label fxFlex="95">{{role}}</mat-label>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>
  <mat-expansion-panel [disabled]="true" [hideToggle]="true" [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>Note</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <mat-label fxFlex="100">{{note}}</mat-label>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <div fxLayout="row" fxLayoutGap="10px" class="actions">
      <button class="mat-raised-button" fxFlex="50" mat-button (click)="back()" [disabled]="executing">CANCEL</button>
      <button color="primary" fxFlex="50" class="mat-raised-button mat-primary" mat-button [disabled]="executing" (click)="setAction()">{{getActionName()}}</button>
  </div>
</div>