<app-header [backDestination]="getBackDestination()"></app-header>
<div fxLayout="column">
  <h2 fxFlex="100">{{name}}</h2>
  <h6 fxFlex="100">{{description}}</h6>
  <div fxLayout="column" *ngIf="!active">
    <mat-expansion-panel [disabled]="true" [hideToggle]="true" [expanded]="true">
      <mat-expansion-panel-header>
          <mat-panel-title>Required Permissions</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let role of roles">
          <span class="pull-left"><mat-icon>chevron_right</mat-icon></span>
          <span fxFlex="95">{{role}}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <h5 fxFlex="100">After activating you need set the extension's configuration.</h5>
  </div>
  <div *ngIf="active">
    <h5 fxFlex="100">After inactivating all extension's configuration will be disabled.</h5>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
      <button class="mat-raised-button" fxFlex="50" mat-button (click)="back()" [disabled]="executing">CANCEL</button>
      <button color="primary" fxFlex="50" class="mat-raised-button mat-primary" mat-button [disabled]="executing" (click)="setAction()">{{getActionName()}}</button>
  </div>
</div>